footer class="card text-center bg-dark"
  div class="card-body p-2 text-light"
    | © 2018 Copyright: Paweł Góra
    div class="text-muted"
      | Made with: <strong>Ruby On Rails</strong>, <strong>Slim</strong>, <strong>SCSS</strong>, <strong>jQuery</strong>, <strong>Bootstrap</strong>, <strong>Git</strong>, <strong>PostgreSQL</strong>
