// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.grid-wrapper {
  background-color: #fff;
  color: #444;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 300px 300px 300px;
}

.grid-box {
  background-color: #343a40;
  border-radius: 5px;
  color: #fff;
  font-size: 150%;
  padding: 20px;
}

.a {
  grid-column: 1 / 3;
  grid-row: 1;
}

.b {
  grid-column: 3;
  grid-row: 1 / 3;
}

.c {
  grid-column: 1;
  grid-row: 2;
}

.d {
  grid-column: 2;
  grid-row: 2;
}
